@import "ThemeColors.module";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif !important;
}


img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 100vw;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f6f6f6;
}

hr {
  background-color: $primary-color;
  height: 4px;
  width: 184px;
  margin-top: 75px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  margin-bottom: 40px;
  margin-top: 22px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 40px;
  margin-top: 22px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.primary-button {
  padding: 1rem 2.5rem;
  background-color: $primary-color;
  outline: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 117px;
  max-height: 32px;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(0, 195, 104, 0.4);
}

.primary-button:hover {
  background-color: #01e078;
  box-shadow: 0 8px 8px 0 rgba(0, 195, 104, 0.2);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  background-color: $bg-color1;
  padding: 0 85px;

  .nav-left {
    display: flex;

    .navbar-links-container {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      margin: 0 3vw;

      a {
        margin: 0 1vw;
        outline: none;
        border: none;
        cursor: pointer;
        color: $text-color-gray;
        font-weight: 600;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 117px;
        min-height: 32px;
        border-radius: 8px;
        text-decoration: none;
      }

      a:hover {
        background-color: $primary-color;
        outline: none;
        border: none;
        cursor: pointer;
        font-weight: 600;
        color: white;
        transition: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 117px;
        min-height: 32px;
        border-radius: 8px;
        box-shadow: 0 8px 8px 0 rgba(0, 195, 104, 0.4);
      }
    }
  }
}

.reviews-section-container {
  background-color: $bg-color2;
  width: 50vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 5%;

  .reviews-main-quote {
    display: flex;
    justify-content: center;

    .reviews-quote-avatar {
      max-height: 187px;
      max-width: 187px;
      margin-right: 3.5rem;
      filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));

      img {
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
      }
    }

    .reviews-quote-text {
      max-width: 50%;
      min-width: 50%;
      position: relative;
      box-sizing: border-box;

      p.quote-text::before {
        content: url("./assets/quotes-before.svg");
        display: block;
        position: absolute;
        margin-left: -3.5rem;
        margin-right: 1rem;
      }

      p.quote-text::after {
        content: url("./assets/quotes-after.svg");
        display: block;
        position: absolute;
        right: -2rem;
        bottom: 1.5rem;
      }

      p.quote-text-author {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-top: 1rem;
      }
    }
  }

  .reviews-sub-quotes {
    display: flex;
    justify-content: space-around;
    margin-top: 6rem;

    .reviews-sub-quote-left {
      display: flex;
      margin-right: 1.5rem;
      max-width: 40%;

      .reviews-sub-quote-left-avatar {
        min-height: 94px;
        min-width: 94px;
        margin-left: 1rem;
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));

        img {
          aspect-ratio: 1;
          border-radius: 50%;
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .reviews-sub-quote-right {
      max-width: 30%;
    }

    p.quote-text-author {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      margin-top: 1rem;
    }
  }
}

.advantages-section-container {
  background-color: $bg-color3;
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-right: 2rem;
  padding-left: 2rem;

  span {
    margin-top: -35px;
    margin-bottom: 35px;
  }

  .advantages-block {
    height: 100%;
    margin-bottom: 3rem;
    width: 75%;

    .advantage-item {
      border-bottom: 1px solid #E7EBF0;
      margin-bottom: 18px;
      padding-bottom: 16px;

      .advantage-title {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        .advantage-title-left {
          display: flex;
          flex-flow: row;
          align-items: center;
          width: 90%;
        }

        img {
          margin-right: 1rem;
        }

        h3 {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: 0.2s
        }

        .advantages-indicator {
          background-image: url("./assets/advantages-indicator-on.svg");
          width: 19px;
          height: 11px;
          transition: 0.2s;
        }
      }

      .advantage-title.isOpen {
        .advantages-indicator {
          transform: rotate(-180deg);
        }

        h3 {
          color: $primary-color
        }
      }

      .advantage-text {
        padding-left: 56px;
        overflow: hidden;
        position: relative;
        height: 0;
        transition: height 0.35s ease;
      }

      .advantage-text.show {
        height: auto;
      }

      p {
        margin-top: 8px;
      }


    }

  }
}

.home-section-container {
  height: 1107px;


  .home-banner-container {
    background: $bg-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 947px;

    hr {
      margin-top: 0;
    }

    .home-banner-row-berry {
      display: flex;
      align-items: center;
      margin: -20px 0;

      .home-banner-berry {
        display: flex;
        align-items: center;
        width: 530px;
        height: 370px;
        background-image: url("./assets/berry.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: 580px;
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: -80px;
      }

      .home-banner-item {

        p {
          line-height: 19px;
        }
      }
    }

    .home-banner-row {
      display: flex;
      align-items: center;

      .home-banner-item {
        margin-left: 50px;
        margin-right: 50px;

        p {
          line-height: 19px;
        }
      }
    }

    .home-banner-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-flow: column;
      height: 175px;
      width: 150px;
      text-align: center;

      img {
        height: 80px;
      }
    }
  }
}

.about-section-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $bg-color3;
}

@media (max-width: 1000px) {
  .navbar-button-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }

  .primary-button {
    font-size: 1rem;
  }

  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  nav {
    width: 100vw;
    justify-content: center;
  }
  .nav-logo-container {
    min-width: 208px;
  }

  .navbar-menu-container {
    display: flex;
  }

  .home-bannerImage-container {
    max-width: 450px;
  }


  .about-section-container {
    flex-direction: column;
  }

  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }

  .primary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .about-section-container {
    margin-top: 5rem;
  }

  .App {
    max-width: 95vw;
  }
}

@media (max-width: 600px) {
  .navbar-links-container {
    display: none;
  }

  .navbar-button-container {
    display: none;
  }
}
